ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

.artContent {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.active + .artContent{
    display: block;
}

.collapsible {
    cursor: pointer;
}
